node_modules/
package-lock.json
package.json

dist/
build/
*.exe
*.msi
*.apk

*.log
logs/
debug.log

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

config.js
config.json

